body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  margin:0;
  padding:0;
}
.container{
  width:500px;
  height:500px;
  position:relative;
  background-image: url(images/donation11.jpg);
  background-size: cover;
}
