body{
  font-family: 'Poppins', sans-serif;
  }
.dream{
  display:flex;
  margin:0;
  padding:0;
}
.container{
  width:500px;
  height:200px;
  position:relative;
  background-image: url(images/donation11.jpg);
  background-size: cover;
  padding-top: 0%;
}
.top-article{
  font-size: 10px;
  margin-bottom: 60px;
  color:antiquewhite;
  text-align: center;
  line-height: 20px;
}
p{
  font-size: 20px;
  color:antiquewhite;
  margin: 0;
}
.link-button{
  text-decoration:solid;
  background-color: tomato;
  padding-left: 20px 40px;
  padding-bottom: 20px 40px;
  color:white;
  font-weight: 700;
  font-size: 15px;
}
.today{
 font-size: 10px;
 color:black;
 border-width: 10px;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 10px; 
 padding-bottom: 20px;
 text-align: center;
}


